aenum==2.2.6
aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
Automat==0.8.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloud-init==21.4
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
dbus-python==1.2.16
distro==1.4.0
distro-info===0.23ubuntu1
entrypoints==0.3
gpg===1.13.1-unknown
gremlinpython==3.5.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.5.0
incremental==16.10.1
interchange==2021.0.4
isodate==0.6.1
Jinja2==2.10.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
MarkupSafe==1.1.0
monotonic==1.6
more-itertools==4.2.0
multidict==5.2.0
nest-asyncio==1.5.4
netifaces==0.10.4
oauthlib==3.1.0
packaging==21.3
pansi==2020.7.3
pbr==5.8.0
pexpect==4.6.0
py2neo==2021.2.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
Pygments==2.10.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pyodbc==4.0.32
pyOpenSSL==19.0.0
pyparsing==3.0.6
pyparted==3.11.2
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.6
python-debian===0.1.36ubuntu1
pytz==2021.3
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
six==1.16.0
sos==4.1
ssh-import-id==5.10
systemd-python==234
testresources==2.0.1
Twisted==18.9.0
typing-extensions==4.0.1
ubuntu-advantage-tools==27.4
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
WALinuxAgent==2.2.46
yarl==1.7.2
zipp==1.0.0
zope.interface==4.7.1
